@media screen and (max-width: 736px) {
  // .danhSachPhim {
  //   // display: none !important;
  // }
}
.danhSachPhim {
  margin: auto;
  position: relative;
  // height: 900px;
  margin: 15px;
  .container {
    // @media screen and(max-width:330px) {
    //   padding: 0;
    // }
    @media screen and(max-width:736px) {
      padding: 0;
    }
    ul.nav-tabs {
      border-bottom: none;
      text-align: center;
      justify-content: center;
      li.nav-item {
        a.itemDanhSachPhim {
          color: black;
          font-family: "SF Medium";
          font-weight: 400;
          font-size: 20px;
          line-height: 20px;
          background-color: none !important;
          border-color: none !important;
          border: none;
          transition: all 0.5s;
          cursor: pointer;
          @media screen and(max-width:480px) {
            font-size: 18px;
          }
          &.active {
            color: #fb4226;
            font-size: 24px;
          }
          &:hover {
            font-size: 24px;
          }
        }
      }
    }
    .tab-content {
      .tab-pane {
        top: 30px;
        left: 0;
        width: 100%;
        height: 100%;
        .slick-slider {
          width: 100%;
        }
        .slick-slider {
          @media screen and(max-width:736px) {
            display: none;
          }
        }
        .movieCardMobile {
          display: none;
          @media screen and(max-width:736px) {
            display: block;
            .MuiCard-root {
              margin: 0;
              height: auto;
              &:first-child {
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
  }
}
