.chiTietPhim {
  .fade {
    transition: all 0.5;
  }
  position: relative;
  overflow: hidden;
  padding: 60px 0;
  .buttonGroup {
    display: flex;
    .btn {
      background-color: #fb4226;
      border: none;
      display: block;
      &:last-child {
        margin: 0 5px;
      }
    }
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background: #dad6d669 !important;
  }
  a,
  a:hover {
    color: white;
    text-decoration: none;
    // &:active {
    //   background: #dad6d669 !important;
    // }
  }
  p {
    color: black;
    margin-bottom: 10px;
  }
  .filmPosterTop {
    img {
      display: block;
      border-radius: 5px;
      min-width: 120px;
    }
  }
  .typeMovie {
    align-self: flex-start;
    font-weight: normal;
    font-size: 14px;
    background-color: #fb4226;
    border-radius: 4px;
    padding: 0 5px;
    color: #fff;
    min-width: 33px;
    text-align: center;
    display: inline-block;
    margin-right: 8px;
  }
  .infoMain {
    margin: 10px 0;
  }
}

.heThongRap {
  border: 1px solid #eee;
  .tab-content {
    max-height: 500px;
    overflow: auto;
    a.nav-link {
      padding: 8px 0px !important;
      img {
        display: block;
        margin: 0 8px;
      }
    }
  }
  .nav-link {
    height: 120px;

    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }
  .content {
    p {
      &:nth-child(2) {
        max-width: 250px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  /* width */
  ::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #eee;

    // border-radius: 13px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190);

    border-radius: 13px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    // background: #555;
  }
}
