.chiTietPhim {
  .fade {
    transition: all 0.5;
  }
  position: relative;
  overflow: hidden;
  padding: 60px 0;
  .buttonGroup {
    display: flex;
    .btn {
      background-color: #fb4226;
      border: none;
      display: block;
      &:last-child {
        margin: 0 5px;
      }
    }
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background: #dad6d669 !important;
  }
  a,
  a:hover {
    color: white;
    text-decoration: none;
    // &:active {
    //   background: #dad6d669 !important;
    // }
  }
  p {
    color: black;
    margin-bottom: 10px;
  }
  .filmPosterTop {
    img {
      display: block;
      border-radius: 5px;
      min-width: 120px;
    }
  }
  .typeMovie {
    align-self: flex-start;
    font-weight: normal;
    font-size: 14px;
    background-color: #fb4226;
    border-radius: 4px;
    padding: 0 5px;
    color: #fff;
    min-width: 33px;
    text-align: center;
    display: inline-block;
    margin-right: 8px;
  }
  .infoMain {
    margin: 10px 0;
  }
}
