.imgCardMedia {
  border-radius: 4px;
}
.imgCardMedia::before {
  border-radius: inherit;
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.041), black);
  z-index: 9;
  transition: all 0.5s;
}

.imgCardMedia:hover::before,
.imgCardMedia:hover .trailerMovie {
  opacity: 1;
}
.trailerMovie {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  display: block;
  height: 50px;
  background: rgba(0, 0, 0, 0) url("./../../img/playvideo.png") no-repeat center
    center;
  border-radius: 50%;
  z-index: 10;
  border: 1px solid white;
  transition: all 0.5s;
}
.typeMovie {
  display: inline-block;
  padding: 3px 5px;
  margin: 0 5px 0 0;
  background-color: #fc4226;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  &-2 {
    display: inline-block;
    border-radius: 4px;
    padding: 0 5px;
    color: #fff;
    min-width: 33px;
    text-align: center;

    color: white;

    border-radius: 5px;
    background-color: #00ac4d;
  }
}
.cardContent {
  padding: 0 !important;
  margin: 10px 0px;
}
