@import "node_modules/react-modal-video/scss/modal-video.scss";
@font-face {
  font-family: "SF Medium";
  src: url("./../../assets/font/SF-UI-Display-Medium.otf");
}
@font-face {
  font-family: "SF Text Regular";
  src: url("./../../assets/font/SF-UI-Text-Regular.otf");
}

.row {
  padding: 0 !important;
  margin: 0 !important;
}
.container {
  max-width: 940px !important;
}

.danhSachPhim {
  .cardItem,
  .cardItem-2 {
    max-height: 350px;
  }
  .cardItem-2 {
    visibility: visible;
  }
  .cardItem {
    .datVe {
      display: none;
      opacity: 0;
      visibility: hidden;
      margin: 10px auto;
      font-weight: bold;
    }
    &:hover {
      .cardContent {
        @media screen and(min-width:1200px) {
          display: none;
          opacity: 0;
          visibility: hidden;
        }
      }
      .datVe {
        display: block;
        opacity: 1;
        visibility: visible;
        @media screen and(max-width:737px) {
          display: none;
        }
      }
    }
  }
  .slick-prev::before {
    background-image: url("https://tix.vn/app/assets/img/icons/back-session.png") !important;
    z-index: 999;
    left: -5% !important;
  }
  .cardContent {
    display: flex;
    align-items: center;
    .typeMovie {
      align-self: flex-start;
      font-weight: normal;
      font-size: 14px;
      background-color: #fb4226;
      border-radius: 4px;
      padding: 0 5px;
      color: #fff;
      min-width: 33px;
      text-align: center;
      display: inline-block;
      margin-right: 8px;
    }
    .titleMovie {
      font-family: "SF Medium";
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }
  .txtPoint {
    text-align: center;
    font-family: "SF Medium";
    font-size: 16px;
    background-color: rgba(12, 27, 54, 0.8);
    border: 1px solid #1f2e46;
    border-radius: 4px;
    padding: 2px;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #fff;
    width: 54px;
    text-align: center;
    line-height: 1.1;
    .danhGia {
      transform: scaleY(1.2);
      font-size: 16px;
    }
  }
  .thoiGianPhim {
    font-family: "SF Text Regular";
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #4a4a4a;
  }
  .imgCardMedia {
    border-radius: 4px;
  }
  .imgCardMedia::before {
    border-radius: inherit;
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.041), black);
    z-index: 9;
    transition: all 0.5s;
  }

  .imgCardMedia:hover::before,
  .imgCardMedia:hover .trailerMovie {
    opacity: 1;
    display: block;

    @media screen and(max-width:1200px) {
      display: none;
      opacity: 0;
    }
  }
  .trailerMovie {
    display: none;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    display: block;
    height: 50px;
    background: rgba(0, 0, 0, 0) url("./../../assets/img/playvideo.png")
      no-repeat center center;
    border-radius: 50%;
    z-index: 10;
    border: 1px solid white;
    transition: all 0.5s;
    @media screen and(max-width:1200px) {
      display: none !important;
    }
  }
  .typeMovie {
    display: inline-block;
    padding: 3px 5px;
    margin: 0 5px 0 0;
    background-color: #fc4226;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    &-2 {
      display: inline-block;
      border-radius: 4px;
      padding: 0 5px;
      color: #fff;
      min-width: 33px;
      text-align: center;

      color: white;

      border-radius: 5px;
      background-color: #00ac4d;
    }
  }
  .cardContent {
    padding: 0 !important;
    margin: 10px 0px;
  }
}
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  &:before {
    // color: red;
    color: black;
    content: "";
    // background-color: red;
    display: block;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0%;
    z-index: 999;
    position: absolute;
    background-image: url("./../../assets/img/nextsession.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
  }
}

// carousel banner phim
.carousel {
  .slick-slider {
    width: 100%;
    max-width: 100%;
    &::before {
      border-radius: inherit;
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 10%;
      bottom: 0;
      left: 0;
      opacity: 1;

      z-index: 9;
      transition: all 0.5s;
    }
  }
  .slick-dots {
    position: absolute;
    bottom: 10%;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    li {
      button {
        &:before {
          font-size: 13px;
          color: white;
          opacity: 1;
        }
      }
      &.slick-active {
        button {
          &::before {
            color: #fb4226 !important;
          }
        }
      }
    }
  }
  .slick-prev {
    left: 30px;
    z-index: 9;
    width: 100px;
    &::before {
      background-image: url("https://tix.vn/app/assets/img/icons/back-session.png");
    }
  }
  .slick-next {
    z-index: 9;
    right: 30px;
  }
}
.carousel {
  width: 100%;
  font-family: "SF Text Regular";
  max-height: 680px;
  font-weight: 400;
  .itemCarousel {
    padding: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    .imgCarousel {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: 680px;
      object-fit: cover;
      border: none;
      box-shadow: none;
      background-color: none;
    }
    .trailerMovie {
      cursor: pointer;
      opacity: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      display: block;
      height: 50px;
      background: rgba(0, 0, 0, 0) url("./../../assets/img/playvideo.png")
        no-repeat center center;
      border-radius: 50%;
      z-index: 10;
      border: 1px solid white;
      transition: all 0.5s;
    }
  }

  @media screen and (max-width: 578px) {
    .carousel {
      display: none;
    }
  }
  .my-dropdown {
    position: relative;
    height: 100%;

    button {
      width: 100%;
      height: 100%;
      text-align: left;
      &.btn.focus,
      &.btn:focus {
        box-shadow: none;
      }
      &.btn.dropdown-toggle {
        position: absolute;
        left: 0;
        background-color: transparent;
        border: none;
        color: #000;
        cursor: pointer;
        width: 100%;
        // padding: 7%;
        background-image: url("./../../assets/img/dropdownicon.png");
        background-repeat: no-repeat;
        background-position: calc(100% - 5px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        // padding-right: 20px;
      }

      &:not(:last-child):after {
        content: "";
        position: absolute;
        right: 0px;
        height: 100%;
        top: 50%;
        border: none;
        transform: translateY(-50%);
        border-right: 1px solid #fff;
        border-right-color: rgba(238, 238, 238, 0.88);
      }
    }
    &:last-child {
      height: 80%;
    }
  }
  // danh sách show

  .dropdown-menu {
    position: absolute;
    top: 50% !important;
    left: 0;
    max-height: 350px;
    overflow-y: scroll;
    transform: translateY(10%) !important;
    .dropdown-item {
      transition: all 0.25s;
      &:hover,
      &:active {
        background-color: #60c5ef;
        color: white;
      }
    }
  }
  .homeTools {
    display: block;
    max-width: 940px;
    margin: auto;
    height: 80px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 30%);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9;
    @media screen and (max-width: 992px) {
      display: none !important;
    }
  }
  ::-webkit-scrollbar {
    width: 1px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #eee;

    // border-radius: 13px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190);

    border-radius: 13px;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background: transparent !important;
  }
  .muaVePhim {
    transition: all 0.5s;
    text-align: center !important;
    color: white;
    font-size: 14px;
    line-height: 20px;
    height: 80% !important;
    background-color: #4a4a4a;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // padding: 10px 25px;
  }
}

.heThongRap {
  color: black !important;
  // max-height: 780px;
  border: 1px solid #eee;
  #v-pills-tab {
    padding: 0;
    justify-content: center;
  }
  #v-pills-tab-2 {
    max-height: 680px;
    overflow-y: auto;
    overflow-x: hidden;
    flex-wrap: nowrap;
    // width: 400px;
  }
  a.nav-link {
    opacity: 0.65;
    &:active,
    &.active {
      opacity: 1;
    }
  }
  .content {
    color: black;
    .tenCumRap {
      margin: 0;
    }
    .diaChi {
      font-size: 12px;
      margin: 0;
      color: #d8d8d8;
    }
  }
  .tab-content {
    max-height: 500px;
    overflow: auto;
    a.nav-link {
      padding: 8px 0px !important;
    }
  }
  .hinhAnhCumRap {
    display: block;
    margin: 0 8px;
  }
  .nav-link {
    height: 120px;

    &:not(:last-child) {
      // border-bottom: 1px solid #eee;
    }
  }
  .content {
    p {
      &:nth-child(2) {
        max-width: 250px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  /* width */
  ::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #eee;

    // border-radius: 13px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190);

    border-radius: 13px;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background: transparent !important;
  }
  /* Handle on hover */
}

.danhSachPhim {
}
