@import "node_modules/react-modal-video/scss/modal-video.scss";
@font-face {
  font-family: "SF Medium";
  src: url("./../../assets/font/SF-UI-Display-Medium.otf");
}
@font-face {
  font-family: "SF Text Regular";
  src: url("./../../assets/font/SF-UI-Text-Regular.otf");
}

.row {
  padding: 0 !important;
  margin: 0 !important;
}
.container {
  max-width: 940px !important;
}

.danhSachPhim {
  .cardItem {
    max-height: 350px;
    .datVe {
      display: none;
      opacity: 0;
      visibility: hidden;
      margin: 10px auto;
    }
    &:hover {
      .cardContent {
        @media screen and(min-width:1200px) {
          display: none;
          opacity: 0;
          visibility: hidden;
        }
      }
      .datVe {
        display: block;
        opacity: 1;
        visibility: visible;
        @media screen and(max-width:737px) {
          display: none;
        }
      }
    }
  }
  .slick-prev::before {
    background-image: url("https://tix.vn/app/assets/img/icons/back-session.png") !important;
    z-index: 999;
    left: -5% !important;
  }
  .cardContent {
    display: flex;
    align-items: center;
    .typeMovie {
      align-self: flex-start;
      font-weight: normal;
      font-size: 14px;
      background-color: #fb4226;
      border-radius: 4px;
      padding: 0 5px;
      color: #fff;
      min-width: 33px;
      text-align: center;
      display: inline-block;
      margin-right: 8px;
    }
    .titleMovie {
      font-family: "SF Medium";
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }
  .txtPoint {
    text-align: center;
    font-family: "SF Medium";
    font-size: 16px;
    background-color: rgba(12, 27, 54, 0.8);
    border: 1px solid #1f2e46;
    border-radius: 4px;
    padding: 2px;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #fff;
    width: 54px;
    text-align: center;
    line-height: 1.1;
    .danhGia {
      transform: scaleY(1.2);
      font-size: 16px;
    }
  }
  .thoiGianPhim {
    font-family: "SF Text Regular";
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #4a4a4a;
  }
}
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  &:before {
    // color: red;
    color: black;
    content: "";
    // background-color: red;
    display: block;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0%;
    z-index: 999;
    position: absolute;
    background-image: url("./../../assets/img/nextsession.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
  }
}

// carousel banner phim
.carousel {
  .slick-slider {
    width: 100%;
    max-width: 100%;
    &::before {
      border-radius: inherit;
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 10%;
      bottom: 0;
      left: 0;
      opacity: 1;

      z-index: 9;
      transition: all 0.5s;
    }
  }
  .slick-dots {
    position: absolute;
    bottom: 10%;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    li {
      button {
        &:before {
          font-size: 13px;
          color: white;
          opacity: 1;
        }
      }
      &.slick-active {
        button {
          &::before {
            color: #fb4226 !important;
          }
        }
      }
    }
  }
  .slick-prev {
    left: 30px;
    z-index: 9;
    width: 100px;
    &::before {
      background-image: url("https://tix.vn/app/assets/img/icons/back-session.png");
    }
  }
  .slick-next {
    z-index: 9;
    right: 30px;
  }
}

.heThongRap {
  color: black !important;
  // max-height: 780px;
  border: 1px solid #eee;
  #v-pills-tab {
    padding: 0;
    justify-content: center;
  }
  #v-pills-tab-2 {
    max-height: 680px;
    overflow-y: auto;
    overflow-x: hidden;
    flex-wrap: nowrap;
    // width: 400px;
  }
  a.nav-link {
    opacity: 0.65;
    &:active,
    &.active {
      opacity: 1;
    }
  }
  .content {
    color: black;
    .tenCumRap {
      margin: 0;
    }
    .diaChi {
      font-size: 12px;
      margin: 0;
      color: #d8d8d8;
    }
  }
  .tab-content {
    max-height: 500px;
    overflow: auto;
    a.nav-link {
      padding: 8px 0px !important;
    }
  }
  .hinhAnhCumRap {
    display: block;
    margin: 0 8px;
  }
  .nav-link {
    height: 120px;

    &:not(:last-child) {
      // border-bottom: 1px solid #eee;
    }
  }
  .content {
    p {
      &:nth-child(2) {
        max-width: 250px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  /* width */
  ::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #eee;

    // border-radius: 13px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190);

    border-radius: 13px;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background: transparent !important;
  }
  /* Handle on hover */
}
