.mobileApp {
  padding: 120px 0 80px 0;
  // padding: 0%;
  background: url("https://tix.vn/app/assets/img/icons/backapp.jpg");
  background-size: contain;
  font-family: "SF Text Regular";
  // height: 650px;

  .container {
    .row {
      .mobileBorder {
        position: relative;
        padding: 0;
      }
      .content-firstRow {
        @media screen and(max-width:768px) {
          text-align: center;
        }
      }
      p {
        margin: 10px 0px;
      }
      p.textLeft {
        font-weight: 700;
        font-size: 32px;
        line-height: 46px;
      }
      p.textSmallLeft {
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
      }
      button.buttonLeft {
        font-size: 16px;
        font-weight: 700;
        line-height: 23px;
        background-color: #fb4226;
        padding: 10px 20px;
        color: #fff;
        border: none;
        border-radius: 4px;
      }
      p.textAppUnder {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
      }
      a.tagA {
        color: #fff;
        border-bottom: 1px solid #fff;
        text-decoration: none;
        transition: all 0.2s;
        margin: 0 2px;
      }
      .right {
        .slick-slider {
          position: absolute;
          padding: 1.5% 29.3% 0 29.3%;
          top: 0;
          left: 0;
          width: 100%;
          .slick-list {
            border-radius: 20px;
          }
        }
      }
      .mobileDevice {
        // display: block;
        // margin: auto;

        padding: 0 28%;
        max-width: 100%;
        height: auto;
        position: relative;
        top: 0;
        left: 0;
        z-index: 30;
        overflow: hidden;
      }
    }
  }
}
