.navbar__header {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  margin: auto;
}

.header {
  height: 60px;
  background-color: white !important;
  .nav-link-item {
    text-decoration: none;
    color: black;
    transition: all 0.4s;
    &:hover {
      color: #e25755;
    }
  }
}
