.containerLogin {
  display: inline-block;
  cursor: pointer;
  margin: auto;
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #e8e3e3;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c5c0c0;
    border-radius: 30px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c5c0c0;
  }
}
.list-location {
  display: block;
  width: inherit;
  list-style: none;
  padding: 10px;
  height: 300px;
  overflow: auto;

  li.item__location {
    padding: 5px;
    transition: all 0.2s;
    &:hover {
      background-color: #60c5ef;
      color: white;
    }
  }
}
